<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>칼로리 결과</title>
</head>
<body>
    <h1>섭취 칼로리</h1>

    <h2>기록</h2>
    <ul>
        {% for record in user_records %}
            <li>{{ record.date }}: 햄버거 {{ record.total_hamberger }}, 피자 {{ record.total_pizza }}, 치킨 {{ record.total_chicken }}</li>
            <li>칼로리 요구량: {{ TDEE }} </li>
            <li>섭취 칼로리: {{ record.foodcal }} </li>
            <br>
        {% empty %}
            <li>기록이 없습니다.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'profile' %}">  마이프로필</a>
</body>
</html>