<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 프로필</title>
</head>
<body>
    {% if user.is_authenticated %}
        <a href = "{% url 'user_logout' %}">로그아웃</a>
        <h1>사용자 프로필</h1>
        <p><strong>사용자 이름:</strong> {{ user.username }}</p>
        <p><strong>닉네임:</strong> {{ profile.nickname }}</p>
        <p><strong>전화번호:</strong> {{ profile.phone_number }}</p>
        <p><strong>이메일:</strong> {{ profile.email }}</p>
        <p><strong>성별:</strong> {{ profile.get_gender_display }}</p>
        <p><strong>나이:</strong> {{ profile.age }}</p>
        <p><strong>키:</strong> {{ profile.height }} cm</p>
        <p><strong>몸무게:</strong> {{ profile.weight }} kg</p>
        <p><strong>운동 빈도:</strong> {{ profile.exercise_frequency }} 회/주</p>
        <br>
        <br>
        <p><strong>Body Fat Percentage:</strong> {{ body_fat_percentage }}%</p>
        <p><strong>Basal Metabolic Rate (BMR):<strong> {{ BMR }} kcal/day</p>
        <p><strong>Total Daily Energy Expenditure (TDEE):</strong> {{ TDEE }} kcal/day</p>

        <br>

        <form action="{% url 'foodcal_output' %}" method="POST">
            {% csrf_token %}
            <button type="submit">섭취 칼로리</button>
        </form>
        <form action="{% url 'exercal_output' %}" method="POST">
            {% csrf_token %}
            <button type="submit">소모 칼로리</button>
        </form>
        <br>
        <a href = "{% url 'calorie_input' %}">  기록</a>
        <br>
        <a href = "{% url 'home' %}">  홈으로</a>
    {% else %}
        <p>로그인 후 사용해 주세요</p>
        <a href = "{% url 'user_login' %}">로그인 하러 가기</a>
    {% endif %}
    
    
</body>
</html>
