<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Map</title>
</head>
<body>
    <h2>Map View</h2>
    <div id="map" style="width:800px;height:600px;"></div>

    <div id="lat" style="display: none">
        {%for re in restaurants%}
            {{re.latitude}},
        {%endfor%}
    </div>

    <div id="lng" style="display: none">
        {%for re in restaurants%}
            {{re.longitude}},
        {%endfor%}
    </div>

    <div id="name" style="display: none">
        {%for re in restaurants%}
            {{re.name}},
        {%endfor%}
    </div>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=79d1f4bbe505232808852a84b8ab234e&libraries=servieces,clusterer,drawing"></script>
    <script>
        var container = document.getElementById('map');
        var options = {
            center: new kakao.maps.LatLng(37.550950, 126.941017),
            level: 4
        };

        var map = new kakao.maps.Map(container, options);
        
        var list_lat = document.getElementById("lat").innerText.split(',');
        var list_lng = document.getElementById("lng").innerText.split(',');
        var list_name = document.getElementById("name").innerText.split(',');

        var restaurantCoordinates = new Array();

        for(var idx=0; idx<list_lat.length; idx++){
            var latitude = list_lat[idx];
            var longitude = list_lng[idx];
            restaurantCoordinates.push(new kakao.maps.LatLng(latitude, longitude));
        }
        
        for(var idx=0; idx<restaurantCoordinates.length; idx++){
            var marker = new kakao.maps.Marker({
                map: map,
                position: restaurantCoordinates[idx],
                title: list_name[idx]
            });
        }
        
        for(var idx=0; idx<list_lat.length; idx++){
            var marker = new kakao.maps.Marker({
                map: map,
                position: restaurantCoordinates[idx],
                title: list_name[idx]
            });
            var infoWindow = new kakao.maps.InfoWindow({
                content: list_name[idx]
            });
            (function(marker, infoWindow){
                kakao.maps.event.addListener(marker, 'mouseover', function() {
                    infoWindow.open(map, marker);
                });
                kakao.maps.event.addListener(marker, 'mouseout', function() {
                    infoWindow.close();
                });
            })(marker, infoWindow);
        }
    
        marker.setMap(map);
    </script>
</body>
</html>
