<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    {% if user.is_authenticated %}
        <p>안녕하세요, {{ user.username }} 님! </p>
        <a href = "{% url 'logout' %}">로그아웃</a>
    {% else %}
        <form action = "{% url 'login' %}" method="POST">
            {% csrf_token %}
            id: <input type="text" name="username"> <br/>
            pw: <input type="password" name="password"> <br/>
            <button type="submit">Login</button>
        </form>

        <a href = "{% url 'signup' %}">회원가입</a>
    {% endif %}
    </div>
</body>
</html>